* {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 50px;
}

body {
  background-image: url("../img/background.jpg");
  background-color: #ccc;
}

p {
  display: none;
}

.well {
  color: #333;
  background-color: inherit;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
  border: none;
}

.btn {
  background-color: inherit;
  border-style: solid;
  border-width: 5px;
  border-color: #555;
  box-shadow:  0px 1px 0px rgba(255,255,255,.5);
  font-size: 50px;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}
